{% extends "index.html" %}
{% block content_title %}
<h2>Seminare</h2>
{% endblock %}
{% block intro %}

<p>In der folgenden Tabelle sind die aktuellen Seminare aufgeführt. Mehr Informationen bekommt man durch Anklicken des Titels.</p>
{% endblock intro %}
{% block articlelist %}
<table>
<tr><th>Datum</th><th>Titel</th></tr>
{% for article in articles_page.object_list %}
<tr>
<td><time datetime="{{ article.date.isoformat() }}"> {{ article.occurs }} </time></td><td>
<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a> </td>
</tr>
{% endfor %}
</table>
{% endblock articlelist %}