{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h1>{{SITENAME}}</h1>
{% endblock content_title %}
{% block intro %}
<p>Dies ist die Homepage der Aikido-Gruppe der <a href="http://sportschule-rahn.de">Sportschule Rahn</a>.</p>
{% endblock intro %}
{% block articlelist %}
<h2>Beiträge</h2>
{% for article in articles_page.object_list %}
        <article class="hentry">
                <header> <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a><time style="font-size:80%; float:right" class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></h3> </header>
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article>
{% endfor %}
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock articlelist %}
</section><!-- /#content -->
{% endblock content %}
