{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if page.description %}
    <meta name="description" content="{{page.description}}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h1 class="entry-title">
      {{ page.title }}</h1>
  </header>
  <div class="entry-content">
    {{ page.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}