nav {    
    overflow:auto;
    padding:5px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
	background-color: #FC9543;
}
nav > a > img {
	height:3em;
}
.navitem {
    color: #056E6A;
    text-align: center;
    padding:10px;
    font-weight:bold;
    text-decoration:none;
}
nav > a:hover{
	background-color: #FFC219;
}
a {
	color:#B65508;
	text-decoration: none;}
a:hover{text-shadow: 0 0 5px;}
body{
	font-family:sans-serif;
	font-size:18px;
	line-height:1.5;
	margin:0;
	padding:0;
}
h1 {
	font-size:200%;
}
h1,h2,h3,h4 {
	color:#056E6A;
}
#content {
	margin-left:30px;
	padding-top:10px;
	padding-right:30px;
	max-width:70em;
}
td {
	padding:15px;
}
@media all and (min-width:120ex) {
	nav {
		float:left;
		flex-direction:column;
		position:fixed;
		height:100%;
		width:25ex;
	}
	#content {
		margin-left:30ex;
	}
	nav > a > img {
	height:24ex;
	max-height:200px;
}
}
@media screen and (max-height:50em) {
	nav {
		flex-wrap: nowrap;
	}
}
